@media only screen and (max-width: 590px) {

  .text-center {
    font-size: small;
  }
}

.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.card-with-bg {
  color:#fff;
  height: 235px;
  background-size:cover; 
  background-position:center; 
}

.card-with-bg {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
}

.card-with-bg:hover > *:not(.card-body){
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 220px;
  color:#fff;
}

.clickable-card {
  color: #fff;
}