@media only screen and (max-width: 590px) {

  .text-center {
    font-size: large;
  }
}

.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.card {
  color:#fff;
  height: 235px;
  background-size:cover; 
  background-position:center; 
}

.card-with-bg {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.card-with-bg:hover{
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.5);
}
