@media only screen and (max-width: 590px) {

  .text-center {
    font-size: small;
  }
}

.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.card-with-bg {
  color:#fff;
  height: 235px;
  background-size:cover; 
  background-position:center; 
}

.card-with-bg {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
}

.card-with-bg:hover > *:not(.card-body){
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 220px;
  color:#fff;
}

.clickable-card {
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  height: 220px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.home-image {
  /* The image used */
  background-image: url("Taverna/Taverna-Bar.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.home-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}